.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/_attachment/**
!content/_attachment/**.jpg
!content/_attachment/**.png
content/_attachment/**/